@import '../../../../../colors';
@import '../../../../../mixins';

.logo {
  color: $white;
  display: flex;
  align-items: center;

  &__image {
    font-size: 28px;
    line-height: 28px;  
    margin-right: 12px;
  }
  
  &__title {
    @include font-bold;
    font-size: 18px;
  }
}
