<div class="duration-input">
  <div class="form-group form-group--short">
    <div class="form-group__info">
      <label class="form-group__label">{{ label | translate }}:</label>
      <span class="form-group__hint hint--required">{{ hint | translate }}</span>
    </div>
    <input
      type="number"
      placeholder="{{ placeholder }}"
      class="form-group__control"
      [class.control--invalid]="showError"
      [ngModel]="duration"
      (ngModelChange)="onDurationValueChanged($event)">
    <div *ngIf="showError" class="form-group__error-message">{{ errorMessage | translate }}</div>
  </div>
  <div class="duration-input__formatted-value">
    <fa-icon class="duration-input__icon" [icon]="clockIcon"></fa-icon>
    <span>{{ duration | timeDuration }}</span>
  </div>
</div>