@import "../../../../mixins";
@import "../../../../colors";

.duration-input {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 30px;
  align-items: flex-end;

  &__formatted-value {
    @include font-regular;
    color: $gray-light-4;
    font-size: 14px;
    height: 36px;
    padding: 9px 0;
    box-sizing: border-box;
    margin-bottom: 32px;
  }

  &__icon {
    margin-right: 6px;
    height: 16px;
  }
}