<div class="duration-input">
  <div class="form-group form-group--short">
    <div class="form-group__info">
      <label class="form-group__label">Duration:</label>
      <span class="form-group__hint hint--required">required</span>
    </div>
    <input type="number" placeholder="minutes" class="form-group__control" min="0" [(ngModel)]="durationValue">
  </div>
  <div class="duration-input__formatted-value">
    <fa-icon class="duration-input__icon" [icon]="clockIcon"></fa-icon>
    <span>{{ durationValue | timeDuration }}</span>
  </div>
</div>