<section class="courses-page-container">
  <div class="actions-section-container">
    <app-search-input (search)="onCourseSearch($event)"></app-search-input>

    <div class="add-course-container">
      <button class="button button--large button--blue" (click)="onCourseAddClick()">
        <fa-icon [icon]="iconPlus"></fa-icon>
        <span>Add course</span>
      </button>
    </div>
  </div>

  <ng-container *ngIf="!(loadingService.loading$ | async)">
    <ng-container *ngIf="coursesForDisplay.length; else noDataTemplate">
      <app-course-item *ngFor="let course of coursesForDisplay | orderBy: 'creationDate':'desc'" [course]="course" (courseDeleted)="onCourseDelete($event)"></app-course-item>
      <app-load-more-panel (loadMore)="onLoadMore()"></app-load-more-panel>
    </ng-container>
  </ng-container>
</section>

<ng-template #noDataTemplate>
  <app-no-data-message message="No data. Feel free to add new course"></app-no-data-message>
</ng-template>