<section [hidden]="isLoading$ | async" class="courses-page">
  <div class="courses-page__actions">
    <app-search-input (search)="onCourseSearch($event)"></app-search-input>

    <div class="courses-page__add-button">
      <button class="button button--large button--blue" (click)="onCourseAddClick()">
        <fa-icon [icon]="iconPlus"></fa-icon>
        <span>Add course</span>
      </button>
    </div>
  </div>

  <ng-container *ngIf="courses$ | async as courses">
    <ng-container *ngIf="courses.length; else noDataTemplate">
      <app-course-item *ngFor="let course of courses | orderBy: 'creationDate':'desc'" [course]="course" (courseDeleted)="onCourseDelete($event)"></app-course-item>
      <app-load-more-panel (loadMore)="onLoadMore()"></app-load-more-panel>
    </ng-container>
  </ng-container>
</section>

<ng-template #noDataTemplate>
  <app-message message="No data. Feel free to add new course"></app-message>
</ng-template>