@import "../../../../colors";
@import "../../../../mixins";

.breadcrumbs {
  @include padding-offset;
  @include font-bold;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: $white;

  &__text {
    color: $gray-dark-2;
    font-size: 14px;
  }
}
