@import '../../../../../colors';
@import '../../../../../mixins';

.load-more-container {
  @include card-style;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}