<div class="actions-section-container">
  <div class="search-course-container">
    <div class="form-group">
      <input type="text" placeholder="Type to search" class="form-control" [(ngModel)]="searchString">
    </div>
    <button class="button button--large button--green" (click)="searchCourseHandler()">Search</button>
  </div>
  <div class="add-course-container">
    <button class="button button--large button--blue">
      <fa-icon [icon]="iconPlus"></fa-icon>
      <span>Add course</span>
    </button>
  </div>
</div>