<ng-container *ngIf="course">
  <section
    class="course-item card"
    [class.course-item--top-rated]="course.topRated"
    appAvailabilityStatus [availabilityDate]="course.creationDate">
    <div class="course-item__header">
      <div class="course-item__main-info">
        <h2 class="card__title">{{ course?.title | uppercase }}</h2>
        <fa-icon *ngIf="course.topRated" class="course-item__icon icon--gold" [icon]="topRatedIcon"></fa-icon>
      </div>

      <div class="course-item__additional-info">
        <div class="course-item__duration">
          <fa-icon class="course-item__icon" [icon]="clockIcon"></fa-icon>
          <span>{{ course?.duration | timeDuration }}</span>
        </div>
        <div class="course-item__creation-date">
          <fa-icon class="course-item__icon" [icon]="calendarIcon"></fa-icon>
          <span>{{ course?.creationDate | date:'MM/dd/yy' }}</span>
        </div>
      </div>
    </div>

    <div class="course-item__body">
      <div class="course-item__description">{{ course?.description }}</div>
      <div class="course-item__actions">
        <button class="button button--small button--blue" (click)="onCourseEditClick(course.id, course.title)">
          <fa-icon class="course-item__icon" [icon]="editCourseIcon"></fa-icon>
          <span>Edit</span>
        </button>
        <button class="button button--small button--blue" (click)="onCourseDeleteClick(course.id)">
          <fa-icon class="course-item__icon" [icon]="deleteCourseIcon"></fa-icon>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </section>
</ng-container>