@import "../../../../../mixins";
@import "../../../../../colors";

.course-item-container {
  @include card-style;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px;
  box-sizing: border-box;
  border: solid 4px transparent;

  &--top-rated {
    background-color: $yellow-light;
  }

  .course-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;

    .course-item-main-info {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
      align-items: center;

      .course-item-title {
        @include font-semibold;
        color: $gray-dark-1;
        margin: 0;
      }
    }

    .course-item-additional-info {
      @include font-regular;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 24px;
      color: $gray-light-4;
      font-size: 14px;

      .course-item-duration,
      .course-item-creation-date {
        display: flex;
        align-items: center;
      }
    }
  }

  .course-item-body {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 40px;

    .course-item-description {
      @include font-regular;
      font-size: 14px;
      color: $gray-dark-2;
    }

    .course-item-actions {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 12px;
    }
  }

  .course-item-icon {
    margin-right: 6px;
    height: 16px;

    &--gold {
      color: gold;
    }
  }
}
