@import "../../../colors";
@import "../../../mixins";

.breadcrumbs-container {
  @include padding-offset;
  @include font-bold;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: $white;

  .breadcrumbs-text {
    color: $gray-dark-2;
    font-size: 14px;
  }
}
