<form class="login-form card" (submit)="onFormSubmit()">
  <div class="card__header">
    <h2 class="card__title">Login</h2>
  </div>
  <div class="form-group">
    <div class="form-group__info">
      <label class="form-group__label">Email:</label>
      <span class="form-group__hint hint--required">required</span>
    </div>
    <input type="text" name="email" placeholder="Email" class="form-group__control" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <div class="form-group__info">
      <label class="form-group__label">Password:</label>
      <span class="form-group__hint hint--required">required</span>
    </div>
    <input type="password" name="password" placeholder="Password" class="form-group__control" [(ngModel)]="password">
  </div>
  <div class="card__footer">
    <button class="button button--link">Forgot password?</button>
    <button class="button button--large button--green button--login" type="submit">Login</button>
  </div>
</form>