/* Basic application colors */

$gray-dark-1: #303240;
$gray-dark-2: #464a5a;
$gray-dark-3: #333333;
$gray-dark-4: #474a59;

$gray-light-1: #f5f6fa;
$gray-light-2: #ced0db;
$gray-light-3: #acafbf;
$gray-light-4: #858997;

$white: #ffffff;
$green: #67a300;
$blue: #009ecc;
$blue-link: #5681ee;
$yellow-light: #ffffe0;