@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "./colors";
@import "./mixins";

body {
  margin: 0;
  background-color: $gray-light-1;
  height: 100vh;
  overflow-y: hidden;
}

.button {
  @include font-semibold;
  color: $white;
  outline: none;
  border: none;
  border-radius: 3px;

  &--header {
    @include font-regular;
    height: 24px;
    font-size: 14px;
    background-color: transparent;
  }

  &--link {
    @include font-regular;
    height: 24px;
    font-size: 12px;
    background-color: transparent;
    color: $blue-link;
    text-decoration: underline;
    padding: 0;
  }

  &--small {
    height: 24px;
    font-size: 12px;
    padding: 6px 12px;
  }

  &--large {
    height: 36px;
    font-size: 14px;
    padding: 3px 17px;
  }

  &--green {
    background-color: $green;
  }

  &--blue {
    background-color: $blue;
  }

  &--gray {
    color: $gray-dark-5;
    background-color: $gray-light-5;
  }

  &--disabled {
    opacity: .5;
  }

  &:not(.button--disabled):hover {
    cursor: pointer;
  }

  fa-icon {
    margin-right: 8px;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 32px;
  position: relative;

  &__info {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }

  &__hint {
    @include font-regular;
    font-size: 12px;
    color: $gray-dark-4;

    &.hint--required::before {
      content: '*'
    }
  }

  &__label {
    @include font-semibold;
    font-size: 14px;
    color: $gray-dark-4;
  }

  &__control {
    @include font-regular;
    font-size: 14px;
    outline: none;
    border: 1px solid $gray-light-2;
    border-radius: 3px;
    background-color: $white;
    width: 100%;
    height: 36px;
    padding: 9px 12px;
    box-sizing: border-box;

    &.control--invalid {
      border-color: $red-orange;
    }

    &::placeholder {
      color: $gray-light-3;
    }
  }

  &__textarea {
    height: 110px;
    resize: none;
  }

  &__error-message {
    @include font-regular;
    color: $red-orange;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    bottom: -24px;
    white-space: nowrap;
  }

  &--short {
    width: 150px;
  }
}

.card {
  @include card-style;
  box-sizing: border-box;

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    @include font-semibold;
    color: $gray-dark-3;
    margin: 0;
  }

  &__footer {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &--no-padding {
    padding: 0;
  }
}

/**
  * Customization of Angular Material
  */
  mat-chip {
    @include font-regular;  
  }
