@import '../../../../../colors';
@import '../../../../../mixins';

.user-panel {
  @include font-regular;
  color: $white;
  font-size: 14px;
  display: flex;
  align-items: center;

  &__login-label {
    margin-right: 24px;
  }

  &__action-icon {
    margin-right: 8px;
  }
}