<div *ngIf="showUserPanel" class="user-panel">
  <ng-container *ngIf="(isAuthenticated$ | async); else loggedOutTemplate">
    <ng-container *ngTemplateOutlet="loggedInTemplate"></ng-container>
  </ng-container>
</div>

<ng-template #loggedInTemplate>
  <div class="user-panel__login-label">
    <fa-icon class="user-panel__action-icon" [icon]="iconUser"></fa-icon>
    <span>{{ userName$ | async }}</span>
  </div>
  <button class="button button--header" (click)="logout()">
    <fa-icon class="user-panel__action-icon" [icon]="iconSignOut"></fa-icon>
    <span>{{ 'COMMON.LOGOUT' | translate }}</span>
  </button>
</ng-template>

<ng-template #loggedOutTemplate>
  <a routerLink="/login">
    <button class="button button--header">
      <fa-icon class="user-panel__action-icon" [icon]="iconSignIn"></fa-icon>
      <span>{{ 'COMMON.LOGIN' | translate }}</span>
    </button>
  </a>
</ng-template>