@import '../../../../../colors';
@import '../../../../../mixins';

.user-actions-container {
  @include font-regular;
  color: $white;
  font-size: 14px;
  display: flex;
  align-items: center;

  .user-login-label {
    margin-right: 24px;
  }

  .user-action-icon {
    margin-right: 8px;
  }
}